.nearby-container{
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;

  .nearby-location{
    width: 10rem;
    text-align: center;
    img.nearby-title{
      width: 8rem;
    }
    div.nearby-location-name{
      text-align: left;
      margin-left: 1.2rem;
      font-size: 1.5rem;
      i.iconfont{
        color: grey;
      }
    }
  }

  .nearby-event{
    border-left: 1px solid rgba(0,0,0,0.2);
    flex-grow: 1;
    margin: 5px 0 5px 0;
    padding-left: 5px;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    .nearby-event-content{
      flex-grow: 1;
      line-height: 1.4;
      p.title{
        font-size: 1.5rem;
      }
      .description{

      }
    }
    .nearby-event-arrow{
      width: 2rem;
      justify-content: center;
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;

      i.iconfont{
        font-size: 2rem;
      }
    }

  }
}